*
{
    padding: 0;
    margin: 0;
}



html, body {
    min-height: 100% !important;
    height: 100%;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../font/trebuc.woff');
}

@font-face {
    font-family: 'Doppio One';
    src: url('..//font/DoppioOne-Regular.woff');
}

body
{
    width: 100%;
    height: 100%;

    

    /* font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('trebuc.woff') format('woff'); */
}

.whiteContainer
{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer
{
    display: flex;
    background: rgb(222,159,16);
    background: linear-gradient(90deg, rgba(222,159,16,1) 0%, rgba(255,187,0,1) 100%);;

    height: 550px;
    width: 70%;
}

.loginText
{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.loginText>p
{
    font-size: 30px;
    
    width: 75%;
}

.loginText>h2
{
    font-size: 50px;
    
    width: 75%;
}

.FormContainerMobile
{
    display: none;
}

.formContainer
{
    background-color: #F2F2F2; /*#DE9F10*/
    width: 40%;
    height: 600px;
    margin-top: -25px;
    border: gray 1px solid;

    margin-right: 50px ;
}

.formContainer>p
{
    text-align: center;
}

.registerAccessButtons
{
    height: 80px;
    width: 300px;
}

.registerAccessButtons>p
{
    color: #ffff;
    background-color: #FFBB00;

    font-size: 40px;
    border: rgb(255, 255, 255) 1px solid;

    width: 342px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.formContainer>h2
{
    font-size: 50px;
    text-align: center;

    margin: 30px
;
}

/* .regField>input
{
    height: 40px;
    width: 85%;

    margin: 15px;

    border-radius: 5px;

    font-size: 20px;
} */

/* .regField
{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.buttonContainer
{
    width: 75%;
}


.inputContainer>form {

    display: flex;
    align-items: center;
    flex-direction: column;
}


.inputContainer>p
{
    margin-top: 15px ;
}

form>input
{
    
        width: 70%;
        height: 60px;
        margin: 7px;
        border-radius: 10px;
        border: none;
        font-size: 30px;
        padding-left: 15px;
        border: gray 1px solid;
    
}

.textContainer
{
    margin: 10px;
    display: flex;
    width: 75%;
    align-items: center;
}

.textContainer>p
{
    margin-left: 10px;
}

.inputButton
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.inputButton>button
{
    margin: 10px;
}

#hiddenContainer>p
{
    color: red;
    width: 70%;
}

#hiddenContainer
{
    display: none;
    display: flex;
    justify-content: center;
}


.button
{
    width: 200px;
    color: white;
    height: 65px;
    background: none;
    font-size: 30px;
    border: white 1px solid;
}

.registerButton
{
    background-color: #E6B141;
    border-radius: 10px;

    width: 80%;
    height: 80px;
}

.button>p
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*Media queries!*/

@media only screen and (max-width: 1740px) 
{

    .loginText>h2
    {
    font-size: 45px;
    }

    .formContainer
    {
        width: 55%;
    }

} 


@media only screen and (max-width: 1470px) 
{

    /* .loginText>p
    {
    font-size: 25px;
    } */

    .loginText>h2
    {
    font-size: 40px;
    }

    .loginText>p
    {
        font-size: 25px;
    }

    .formContainer
    {
        width: 60%;
    }

    /* .registerAccessButtons>p 
    {
        color: #ffff;
        background-color: #FFBB00;
        font-size: 20px;
        border: rgb(255, 255, 255) 1px solid;
        width: 150px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .formContainer>h2 
    {
        font-size: 45px;
        text-align: center;
        margin: 40px;
    }

    .inputContainer>input 
    {
        height: 46px;
        font-size: 25px;
        border: gray 1px solid;
    }

    .formContainer
    {
        width: 60%;
    } */
} 

@media only screen and (max-width: 1400px) 
{

    .formContainer
    {
        width: 65%;
    }

    .loginText>h2 {
        font-size: 37px;
    }

    .loginText>p {
        font-size: 23px;
    }

} 

@media only screen and (max-width: 1305px) 
{

    .formContainer
    {
        width: 90%;
        margin: 0;
    }

    form>input
    {
        font-size: 25px;
    }

    body
    {
        height: 800px;
    }

     .loginText
    {
        display: none;
    }

    .loginContainer
    {
        display: none;
    }


    .FormContainerMobile
    {
        display: flex !important;
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    form>input {
    width: 90%;
    height: 75px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding-left: 15px;
    border: gray 1px solid;
    }

    #hiddenContainer>p {
        width: 90%;
    }

    .registerButton {
        background-color: #E6B141;
        border-radius: 10px;
        width: 45%;
        height: 80px;
    }

} 

@media only screen and (max-width: 1000px) 
{
    form>input {
        
        font-size: 20px;
        
    }
} 

@media only screen and (max-width: 550px) 
{
    .registerButton
    {
        width: 65%;
    }
} 

@media only screen and (max-width: 380px) 
{
    .registerButton
    {
        width: 75%;
    }
} 
