@font-face {
    font-family: 'Trebuchet MS';
    src: url('../font/trebuc.woff');
}

@font-face {
    font-family: 'Doppio One';
    src: url('../font/DoppioOne-Regular.woff');
}

a
{
    text-decoration: none !important;
}

.inputContainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.kennelInputContainer
{
    display: flex;
    justify-content: center;
}

.textContainer>p
{
    margin-bottom: 0;
}

.formContainer
{
    width: 70%;
    height: 110%;

    margin-right: 50px ;
}

.formContainer>h2, .loginText>h2
{
    font-size: 45px;
}

.formContainer>h2
    {
        margin: 20px;
    }

.loginText>p
{
    font-size: 22px;
}


    .inputContainer>input {
        width: 90%;
        height: 50px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        font-size: 30px;
        padding-left: 15px;
        border: gray 1px solid;
    }

.inputButton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 16%;

    margin: 0 auto;
}

#hiddenContainer>p
{
    width: 90%;
}

.registerButton 
{
    background-color: #E6B141;
    border-radius: 10px;
    width: 45%;
    height: 80px;
}

@media only screen and (max-width: 1300px) 
{

    .formContainer
    {
        width: 85%;
        margin: 0;
    }

    .inputContainer>input {
        font-size: 20px;
    }

    .formContainer>h2, .loginText>h2
    {
        font-size: 30px;
    }

    .textContainer
    {
        width: 90%;
    }    


    .loginText>p
    {
        font-size: 20px;
    }

    .registerButton
    {
        width: 60%;
    }

} 

@media only screen and (max-width: 980px) 
{
    .inputButton {
        display: flex;
        
        align-items: center;
        flex-direction: column;
        
        height: 35%;
    }

    .registerButton
    {
        width: 80%;
    }

    .formContainer>h2
    {
        font-size: 40px;
    }
}

