{% extends 'base.html' %}
{% load static %}
    
    {% block head %}
        <title>Login</title>
    {% endblock head %}

    {% block style %}
    
        <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    {% endblock style %}



{% block body %}

  <!--                                                     START BODY                                                                 -->

  <div class="whiteContainer">

    <!--                                                 BIG ORANGE DIV                                                            -->

    <div class="loginContainer">

    <!--                                                 GRAY CONTAINER INSIDE THE ORANGE ONE                                    -->

        <div class="loginText">
            <h2>Hai già un account?<br>accedi</h2>
            <p>
                Accedi ad HelPets per riprendere la tua visita virtuale esattamente dove l’avevi interrotta la volta scorsa
            </p>
            
            <!--                                                Button container                                        -->

            <div class="buttonContainer">
                <button class="button">Accedi</button>
            </div>

        </div>


            <!--                                                INPUT CONTAINER                                           -->

         <div class="formContainer">
            <h2>Login</h2>
            <div id="hiddenContainer" >
            
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            
                                <p>{{message}}</p>
                        {% endif %}

                    {% endfor %}
                {% else %}
                <p></p>
                {% endif %}
          
            </div>
            <div class="inputContainer">

                <form method="POST">
                    {% csrf_token %}
                    <input  name="username"  placeholder="E-mail">
                    <input type="password" name="password1" placeholder="Password">

                    <div class="textContainer">
                        <p> <a href="#"> se possiedi un canile clicca qui </a></p>
                    </div>
            

            <!--                                                BUTTON CONTAINER INSIDE INPUT CONTAINER         -->

            <div class="inputButton">
                <button class="button registerButton" >Accedi</button>
            </div>

            </form>
        </div>

        </div>
        
    </div>

    <!--                                                        GRAY CONTAINER MOBILE VERSION                                   -->

    <div class="FormContainerMobile">
        <div class="formContainer">
            <h2>Login</h2>
            <div id="hiddenContainer" >
                <p>Errore la mail non esiste!</p>
                </div>
            <div class="inputContainer">

                <form action="">

                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Password">
                
                    <p> <a href="#"> se possiedi un canile clicca qui </a></p>
            
            <div class="inputButton">
                <button class="button registerButton">Accedi</button>
            </div>

        </form>

        </div>
        </div>
    </div>

</div>

<!-- END BODY -->
  
{% endblock body %}
