{% extends 'base.html' %}
{% load static %}

    {% block head %}
   
        <title>Register kennel</title>
    {% endblock head %}
 
    {% block style %}
        <link rel="stylesheet" href="{% static '/css/auth.css' %}">
        <link rel="stylesheet" href="{% static '/css/registerKennel.css' %}">
    {% endblock style %}

    {% block body %}  
 
    <div class="whiteContainer">
        <div class="loginContainer">
            <div class="loginText">
                <h2>Registra il tuo canile verificato</h2>
                <p>
                    Registrando e verificando il tuo canile potrai iniziare a pubblicare annunci su HelPets, mostrandoli al pubblico e raccontando la loro storia. Non far aspettare più i tuoi animali, registra il tuo canile ad HelPets e fai trovare loro una nuova famiglia.
                </p>
                
                <div class="buttonContainer">
                    <button class="button">Accedi</button>
                </div>

            </div>

             <div class="formContainer">
                <h2>Registra il tuo canile</h2>
                <div id="hiddenContainer" >
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                
                                    <p>{{message}}</p>
                            {% endif %}

                        {% endfor %}
                    {% else %}
                    <p></p>
                    {% endif %}
                    </div>

                <form method="POST">
                    {% csrf_token %}
                <div class="kennelInputContainer">

                    

                    <div class="inputContainer">

                            {% if request.user.is_authenticated %}
                                <input type="email" name="username"  placeholder="E-mail" disabled >
                                <input type="password" name="password1" placeholder="Password" disabled >

                            {% else %}
                                <input type="email" name="username"  placeholder="E-mail">
                                <input type="password"  name="password1" placeholder="Password" >  
                            {% endif %}

                            
                            <input type="text" name="phone"  placeholder="Numero di telefono">
                            <input type="text" name="iva"  placeholder="Pv. Iva">

                            <div class="textContainer">
                               <input type="checkbox" > <p> <a href="#">termini e condizioni</a> </p>
                            </div>

                        

                    </div>

                    <div class="inputContainer">

                    

                        <input type="text" name="nickname" placeholder="Nickname">
                        <input type="text" name="city" placeholder="Città">
                        <input type="text" name="address" placeholder="Indirizzo">
                        <input type="text" name="cap" placeholder="Cap">
                    
                    
                        
                    </div>

                </div>

                <div class="inputButton">
                    <button class="button registerButton" >Accedi</button>
                </div>
            </div>

        </form>
            
        </div>

        <div class="FormContainerMobile">
            <div class="formContainer">
                <h2>Registrati</h2>
                <div id="hiddenContainer" >
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            
                                <p>{{message}}</p>
                        {% endif %}

                            {% endfor %}
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>

            <form method="POST">
                {% csrf_token %}
                <div class="inputContainer">

                    

                    {% if request.user.is_authenticated %}
                    <input type="email" name="username"  placeholder="E-mail" disabled >
                    <input type="password" name="password1" placeholder="Password" disabled >

                    {% else %}
                        <input type="email" name="username"  placeholder="E-mail">
                        <input type="password"  name="password1" placeholder="Password" >  
                    {% endif %}

                    
                    <input type="text" name="phone"  placeholder="Numero di telefono">
                    <input type="text" name="iva"  placeholder="Pv. Iva">
                        
                        <!-- <p> <a href="#"> se possiedi un canile clicca qui </a></p> -->
                </div>

                <div class="inputContainer">

          
                    <input type="text" name="nickname" placeholder="Nickname">
                    <input type="text" name="city" placeholder="Città">
                    <input type="text" name="address" placeholder="Indirizzo">
                    <input type="text" name="cap" placeholder="Cap">
                
                    <div class="textContainer">
                        <input type="checkbox" > <p> <a href="#">termini e condizioni</a> </p>
                     </div>
                   
                    
                </div>

                <div class="inputButton">
                    <button class="button registerButton">Accedi</button>
                </div>

            </form>

            </div>
        </div>

    </div>

<!-- END BODY -->
    
{% endblock body %}
