{% extends 'base.html' %}
{% load static %}
    {% block head %}
    <title>Register</title>
    {% endblock head %}
 

 

  
    {% block style %}
         <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    {% endblock style %}


{% block body %}
 
    
    <!-- START BODY -->

    <div class="whiteContainer">
        <div class="loginContainer">
            <div class="loginText">
                <h2>Non hai un account? <br> Registrati</h2>
                <p>
                    Entra a far parte di HelPets così da poter adottare un cane o un gatto, oppure per rimanere sempre aggiornato sui nuovi arrivi nei nostri canili affiliati
                </p>
                
                <div class="buttonContainer">
                    <button class="button">Accedi</button>
                </div>

            </div>

             <div class="formContainer">
                <form method="POST">
                    {% csrf_token %}
                    <h2>Registrati</h2>
                    <p id="hiddenParagraph"> <a href="#">Errore la mail non esiste!</a> </p>
                    <div class="inputContainer">
                            <input type="email" name="email" placeholder="E-mail">
                            <input type="password" name="password" placeholder="Password">
                            <input type="text"  placeholder="Username">
                            <input type="text" placeholder="Città">

                            <div class="textContainer">
                                <p> <a href="#"> se possiedi un canile clicca qui </a></p>
                            </div>
                    </div>
                    <div class="inputButton">
                        <button class="button registerButton" >Accedi</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="FormContainerMobile">
            <form action="">
                
                <div class="formContainer">
                    <h2>Registrati</h2>
                    <p id="hiddenParagraph" >Errore la mail non esiste!</p>
                    <div class="inputContainer">
                            <input type="email" placeholder="E-mail">
                            <input type="password" placeholder="Password">
                            <input type="text" placeholder="Username">
                            <input type="text" placeholder="Ripeti password">
                        
                            <p> <a href="#"> se possiedi un canile clicca qui </a></p>
                    </div>
                    <div class="inputButton">
                        <button class="button registerButton">Accedi</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
<!-- END BODY -->


     
{% endblock body %}