{% extends 'base.html' %}
{% load static %}
    {% block head %}
    <title>Register</title>
    {% endblock head %}
 

 

  
    {% block style %}
         <link rel="stylesheet" href="{% static '/css/auth.css' %}">
         <link rel="stylesheet" href="{% static '/css/register.css' %}">
    {% endblock style %}


{% block body %}
 
    <!-- START BODY -->

    <div class="whiteContainer">
        <div class="loginContainer">
            <div class="loginText">
                <h2>Non hai un account? <br> Registrati</h2>
                <p>
                    Entra a far parte di HelPets così da poter adottare un cane o un gatto, oppure per rimanere sempre aggiornato sui nuovi arrivi nei nostri canili affiliati
                </p>
                
                <div class="buttonContainer">
                    <button class="button">Accedi</button>
                </div>

            </div>

                <div class="formContainer">
                    <h2>Registrati</h2>
                    <div id="hiddenContainer" >
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                    
                                        <p>{{message}}</p>
                                {% endif %}
        
                            {% endfor %}
                        {% else %}
                        <p></p>
                        {% endif %}
                           
                    </div>
                    <div class="inputContainer">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="email" name="username" placeholder="E-mail">
                                <input type="text" name="password1" placeholder="Password">
                                <input type="text" name="password2" placeholder="Password repeat">
                                <input type="text" name="city" placeholder="Città">
                             
                                <div class="textContainer">
                                    <p> <a href="#"> se possiedi un canile clicca qui </a></p>
                                </div>
                            
                                <div class="inputButton">
                                    <button  type="submit" class="button registerButton" >Accedi</button>
                                </div>

                            </form>
                    </div>
                </div>
            
        </div>

        <div class="FormContainerMobile">
            <div class="formContainer">
                <h2>Registrati</h2>
                <div id="hiddenContainer" >
                        {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                
                                    <p>{{message}}</p>
                            {% endif %}

                        {% endfor %}
                    {% else %}
                    <p></p>
                    {% endif %}
                    </div>
                <div class="inputContainer">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="email" name="username" placeholder="E-mail">
                        <input type="text" name="password1" placeholder="Password">
                        <input type="text" name="password2" placeholder="Password repeat">
                        <input type="text" name="city" placeholder="Città">
                     
                        <p> <a href="#"> se possiedi un canile clicca qui </a></p>
                
                        <div class="inputButton">
                            <button class="button registerButton">Accedi</button>
                        </div>

                    </form>

        </div>
            </div>
        </div>

    </div>

     
{% endblock body %}