{% extends 'base.html' %}
{% load static %}

    {% block head %}
    <title>{{post.title}}</title>
    {% endblock head %}

    
    {% block style %}
    <link rel="stylesheet" href="{% static '/css/singlePage.css' %}">
    {% endblock style %}


  
  {% block body %}

    <!-- story of dog -->
    <section class="container-story-of-dog">
        <div class="with-heigt-story-dog">
            <div class="corousel-dog-img">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      
                      {% if post.img1 %} 
                        <div class="carousel-item active" data-bs-interval="10000">
                          <img src="{{ MEDIA_URL }}{{post.img1}}" class="img-size-carousel" alt="...">
                        </div>
                      {% endif %}
  
                      
                      {% if post.img2 %} 
                        <div class="carousel-item" data-bs-interval="2000">
                          <img src="{{ MEDIA_URL }}{{post.img2}}" class="img-size-carousel" alt="...">
                        </div>
                        {% endif %}
  
                      
                      {% if post.img3 %} 
                        <div class="carousel-item">
                          <img src="{{ MEDIA_URL }}{{post.img3}}" class="img-size-carousel" alt="...">
                        </div>
                        {% endif %}
  

                        {% if post.img4 %} 
                        <div class="carousel-item">
                          <img src="{{ MEDIA_URL }}{{post.img4}}" class="img-size-carousel" alt="...">
                        </div>
                        {% endif %}
  

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="text-information-story-of-dog-container">
              <div class="title-of-description">
                <h2 class="color-basic p-margin-0">{{post.title}}</h2>
              </div>
              <div class="div-size-dog">
                <p class="color-basic p-margin-0 general-size-p">Taglia:</p>
                <p class="general-size-p p-color-gray">{{post.size}}</p>
              </div>
              <div class="container-info-description">
                <div class="container-email-number-description">
                    <p class="color-basic general-size-p p-margin-0">Città:</p>
                    <p class="general-size-p p-color-gray">{{post.city}}</p>
                    <p class="general-size-p p-color-gray"><img class="img-style-email-number-description" src="{% static '/img/telephone.png' %}" alt="phone">{{post.kannel.cap}}</p>
                    <p class="general-size-p p-color-gray"><img class="img-style-email-number-description" src="{% static '/img/email-icon.png' %}" alt="email">{{post.kannel.email}}</p>
                </div>
                <div class="container-kennel-description">
                  <p class="color-basic general-size-p p-margin-0">Canile:</p>
                  <p class="general-size-p p-color-gray">Categoria: {{post.category}} </p>
                  <p class="general-size-p p-color-gray">indirizzo: {{post.kannel.address}}</p>
                </div>
              </div>
              <div class="container-description-story-dog">
                <h2 class="color-basic general-size-p p-margin-0" href="#">Descrizione:</h2>
                  <p maxlength="150" class="p-color-gray size-test-story-dog">{{post.description}}</p>
              </div>
              <div class="icon-div-save-report">
                <p class="media-d-none color-basic general-size-p p-margin-0"><img class="img-style-email-number-description" src="{% static '/img/danger-icon.png' %}" alt="phone">Segnala annuncio</p>
                <p class="color-basic size-of-zero p-margin-0"><img class="img-style-email-number-description" src="{% static '/img/save-empty.png' %}" alt="save">0</p>
              </div>
            </div>
            <div class="div-card-story-dog">
              <img class="img-helpets" src="{% static '/img/4.png' %}" alt="icon">
              <div class="div-text-helpets-logo">
              <p maxlength="150" class="p-color-gray size-description-helpets">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,saepe eos eum veritatis recusandae enim officiis aliquid quod saepe eos eum veritatis recusandae enim officiis aliquid quod</p>
              </div>
              <div class="yellow-btn">
                <button class="style-btn-yellow btn">instagram</button>
              </div>
            </div>
    </section>
     <!-- story of dog -->
    {% endblock body %}
    